#content {
  color: #FFF;
}

p{
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1em;
}

h2 {
  text-align: center;
}

.main-form{
  margin-top: 2em;
}

#footer{
  border-top: solid 1px #2b2d2f;
  margin-top: 3.5em;
  padding-bottom: 3em;
}